body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: #57a0c9;
  margin-top:       1%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  color: #604D53;
  padding:          10px 10px 10px 10px;
}
a {
  text-decoration:  none;
  font-weight:      600;
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h2 {
  font-size:        150%;
}
table {
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  border-collapse:  collapse;
}
td, th {
  padding:          5px;
  text-align:       left;
}
.copyright {
  font-size:        75%;
  font-style:       italic;
}
.slogan {
  font-size:        75%;
  font-style:       italic;
}
.confirmentry {
  font-weight:      600;
}

/*** Tables ***/

table {
font-size:          1em;
background-color:   #D5C5C8;
border:             1px solid #909090;
padding:            5px 5px 2px;
border-collapse:    collapse;
}

td, th {
border:             1px solid #ddd;
}

#pracownicy-table-container {
  width: 1500px;
  height: 520px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: none;
}

#pracownicy-table {
  width: 98%;
  border-collapse: collapse;
  border: none;
  margin: 0; /* Dodane */
}
.pracownicy-th, .pracownicy-td {
  padding: 8px;
  border:none;
  border-bottom: 1px solid #ddd;
}

#modify-pracownik-container {
  border-bottom: 1px solid #ddd;
}
#modify-pracownik-table {
  margin-left: 0;
}

#entry_h1 {
  border-bottom: 1px solid #ddd;
}

/*** Inputs ***/
input[type=text] {
  font-size:        115%;
  width:            30em;
}
input[type=submit] {
  font-size:        125%;
}
select {
  font-size:        125%;
}