{% extends 'base.html' %}

{% block body %}

<h1 id="entry_h1">{{ the_title }} </h1>

<h2> Wyszukaj, modyfikuj i usuwaj pracowników</h2>
    <button onclick="location.href='/viewpracownicy'" style="display: inline-block; padding: 10px;">Wyszukaj</button>
<h2>Dodaj nowego pracownika do bazy danych</h2>
<button onclick="location.href='/gotoaddpracownik'" style="display: inline-block; padding: 10px;">Dodaj</button>

<div style="margin-top: 50px;">
<form method='POST' action='/logout'>
    <p><input value='Wyloguj się' name="block" type='SUBMIT'></p>
</form>
</div>

{% endblock %}