{% extends 'base.html' %}

{% block body %}
<h2>{{ the_title }} </h2>
<form method='POST' action='/saveownmodification'>
    <table>
    <p> Użyj tego formularza, aby edytować podstawowe dane {{ data[0] }}:</p>
        <tr><td>Imię:</td><td><input name='name' type='TEXT' value="{{ data[0] }}" ></td></tr>
        <tr><td>Nazwisko:</td><td><input name='surname' type='TEXT' value="{{ data[1] }}" ></td></tr>
        <tr><td>PESEL:</td><td><input name='pesel' type='TEXT' value="{{ data[2] }}" ></td></tr>
        <tr><td>Mail:</td><td><input name='mail' type='TEXT' value="{{ data[3] }}" ></td></tr>
    </table>
    <p><input value='Zapisz' type='SUBMIT'></p>
</form>
<div style="margin-top: 20px;">
    <button onclick="location.href='/simpleentry'" style="display: inline-block; padding: 10px;">Wróć</button>
</div>

{% endblock %}