{% extends 'base.html' %}

{% block body %}
<h2>{{ the_title }} </h2>
<form method='POST' action='/saveownmodification'>
    <table>
    <p> Użyj tego formularza, aby edytować podstawowe dane {{ id }}:</p>
        <tr><td>Ulica:</td><td><input name='street' type='TEXT' ></td></tr>
        <tr><td>Numer domu:</td><td><input name='house_nr' type='TEXT' ></td></tr>
        <tr><td>Numer mieszkania:</td><td><input name='flat_nr' type='TEXT' ></td></tr>
        <tr><td>PESEL:</td><td><input name='pesel' type='TEXT' ></td></tr>
        <tr><td>Mail:</td><td><input name='mail' type='TEXT' ></td></tr>
        <tr><td>Id powiatu:</td><td><input name='county_id' type='TEXT' ></td></tr>
        <tr><td>Id miejscowości:</td><td><input name='town_id' type='TEXT' ></td></tr>
        <tr><td>Password:</td><td><input name='town_id' type='TEXT' ></td></tr>
    </table>
    <p><input value='Zapisz' type='SUBMIT'></p>
</form>
<div style="margin-top: 20px;">
    <button onclick="location.href='/simpleentry'" style="display: inline-block; padding: 10px;">Wróć</button>
</div>

{% endblock %}