{% extends 'base.html' %}

{% block body %}

<h1 id="entry_h1">{{ the_title }} </h1>

<h2> Zmień swoje podstawowe dane</h2>
    <button onclick="location.href='/modifyowndata'" style="display: inline-block; padding: 10px;">Modyfikuj</button>
<h2> Zarządzaj dodatkowymi danymi kontaktowymi</h2>
    <button onclick="location.href='/additionalcontactdetails'" style="display: inline-block; padding: 10px;">Modyfikuj</button>
<h2>Dodaj certyfikat</h2>
<button onclick="location.href='/addcertificatetoself'" style="display: inline-block; padding: 10px;">Dodaj</button>
<h2>Złóż nowy i przeglądaj swoje wnioski</h2>
<button onclick="location.href='/manageselfapplications'" style="display: inline-block; padding: 10px;">Wnioski</button>

    <div style="margin-top: 50px;">
<form method='POST' action='/logout'>
    <p><input value='Wyloguj się' name="block" type='SUBMIT'></p>
</form>
</div>

{% endblock %}